.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pkdx { 
    height: 150px;
    width: 350px;
    margin-bottom: 30px;
    margin-right: 20px;
}

h1 {
    font-size: 4rem;
}

input {
    padding: 0.5rem 0.5rem;
    width: 20rem;
}