.pokeListWrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.prvNxt {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

button {
    margin : 20px;
    padding: 5px 10px;
    background-color: red;
    border-radius: 20%;
}

button:hover {
    background-color: rgb(135, 3, 3);
}